PORT=2100
MONGODB_USERNAME=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/your_database_name?retryWrites=true&w=majority
